<img src="" alt="">
<form class="example" action="/artist-search", method="GET">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i>SEARCH NOWWW!!!</button>